.card-section-wrapper {
  display: flex;
  border: 1px solid #D3D3D3;
}


@media (max-width: 760px) {
  .card-section-wrapper {
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}