.deck-builder-wrapper {
  text-align: center;
  margin: 10px auto;
}

.db-cards-wrapper {
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  list-style-type: none;
}

.list-wrapper {
  list-style-type: none;
  /* border: 1px solid black; */
  width: 100%;
}