.filter-section, .filter-section-main {
  text-align: center;
}

input, select {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

form {
  font-size: 15px;
  height: 100%;
}

input, button, label {
  font-size: 20px;
}

.filter-header {
  text-transform: uppercase;
  font-size: 1.5em;
  letter-spacing: 2px;
  font-weight: 300px;
  margin-bottom: 20px;
}

.hr-line {
	width: 400px;
	max-width: 70%;
	border-top: 1px solid #D3D3D3;
	border-bottom: 1px solid rgba(0,0,0,0.2);
	margin: 0px auto;
	border-color: #DDDDDD;
} 

input, select{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

 .filter-wrapper {
  height: 150px;
  display: flex;
  padding: 40px 40px 0px 40px;
  justify-content: center;
  max-width: 80%;
  margin: 20px auto 0px auto;
  background: #f3f3f3;
} 

.filter-wrapper-special {
  display: flex;
  padding-bottom: 40px;
  justify-content: center;
  max-width: 80%;
  margin: 20px auto;
  margin-top: 0px;
  background: #f3f3f3;
}

.db-mode-btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: 'Roboto';
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.filter-input, .all-cards-btn {
  border-radius: 28px;
}

select, .search-input {
  font-size: 15px;
  -webkit-appearance: menulist-button;
  height: 30px;
}

form, input {
  margin: 5px;
}


.filter-item {
  margin-left: 15px;
  margin-right: 15px;
  padding: 5px;
}

.all-cards-btn {
  margin-bottom: 20px;
}

@media (max-width: 760px) {
  .filter-wrapper {
    flex-direction: column;
  }

  .db-mode-class-wrapper {
    flex-wrap: wrap;
  }

  .hero-img {
    height: 100px;
    width: 100px;
  }

  .filter-section, .filter-section-main {
    text-align: center;
    min-height: 400px;
  }

  .filter-wrapper {
    height: 300px;
  }

  .filter-item {
    text-align: center;
    margin: 0 auto;
  }
}

@media (max-width: 480px) {
  .filter-wrapper {
    height: 400px;
  }

  select {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .label-wrap {
    display: block;
    margin: 0;
    padding: 0;
  }
}

/* Deck Builder Mode feature CSS */
.db-mode-wrapper {
  height: 150px;
  display: flex;
  padding: 40px;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 80%;
  margin: 20px auto 0px auto;
  background: #f3f3f3;
} 

.db-mode-class-wrapper {
  display: flex;
  padding: 40px;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px auto;
  background: #f3f3f3;
}

.db-mode-btn-wrapper {
  display: flex;
  padding-bottom: 40px;
  justify-content: center;
  max-width: 80%;
  margin: 20px auto;
  margin-top: 0px;
  background: #f3f3f3;
} 

.hero-img {
  height: 180px;
}

.small-hero-img {
  height: 50px;
}

.small-hero-img:hover {
  cursor:pointer;
}

.get-cards-text, .small-hero-img {
  display: block;
}

.small-hero-img {
  padding-right: 30px;
}

.get-cards-text: {
  margin-left: 30px;
}