.grid-container {
  overflow: auto;
  height: 600px;
  width: 1000px;
  border: 1px solid black;
}


.grid-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.list-wrapper {
  list-style: none;
}

.card-img {
  width: 190px;
}

