.grid-container {
  overflow: auto;
  height: 600px;
  max-width: 1000px;
  border: 1px solid #D3D3D3;
  background: rgb(244, 229, 198)
}

.grid-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.grid-wrapper {
  list-style: none;
}

.card-img {
  width: 190px;
}

