.header {
  margin: 30px 0px auto;
  text-align: center;
  border: 1px solid black;
  height: 500px;
  background-image: linear-gradient(
  to right bottom, 
  rgba(202, 206, 201, 0.7), 
  rgba(228, 204, 106, 0.3)),
  url('https://wallpaperscraft.com/image/hearthstone_heroes_of_warcraft_box_sword_smoke_pattern_95366_1920x1080.jpg');
  background-size: contain;
  background-size: cover;
	background-position: center;
}

.header-wrapper {
  background-color: rgba(207, 206, 210,.30); 
  max-width: 50%;
  margin: 0 auto;
}

.header-text {
  margin-top: 150px;    
  font-size: 3em;
  /* text-transform: uppercase; */
  backface-visibility: hidden;
  color: #fff;
  letter-spacing: 4.5px;
}

.header-sub {
  font-size: 1.5em;
  color: #fff;
} 