.header {
  margin: 20px 0px auto;
  text-align: center;
  border: 1px solid #D3D3D3;
  height: 550px;
  background-image: linear-gradient(
  to right bottom, 
  rgba(202, 206, 201, 0.5), 
  rgba(228, 204, 106, 0.3)),
  url('https://wallpaperscraft.com/image/hearthstone_heroes_of_warcraft_box_sword_smoke_pattern_95366_1920x1080.jpg');
  background-size: contain;
  background-size: cover;
	background-position: center;
}

.header-wrapper {
  background-color: rgba(207, 206, 210,.20); 
  max-width: 40%;
  margin: 0 auto;
}

.header-text {
  margin-top: 150px;    
  font-size: 3em;
  backface-visibility: hidden;
  color: #555f61;
  letter-spacing: 4.5px;
}

.header-sub {
  font-size: 1.5em;
  color: #555f61;
} 


@media (max-width: 760px) {
  .header-wrapper {
    max-width: 80%;
  }
}

