.form-wrapper {
  display: block;
  margin: 0 auto;
  text-align: center;
  border: 1px solid white;
  border-radius: 2px;
  width: 300px;
  height: 400px;
  padding: 10px;
  background:#f3f3f3;
  font-size: 20px;
}

.login-form {
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  height: 350px;
}

.labelInput {
  display: inline-block;
  padding: 20px;
}

.loginBtn {
  display: inline-block;
  margin-top: 30px;
  width: 75px;
}

.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 35px;
    font-weight: bold;
  }

.close:hover {
    cursor:pointer;
  }

/* .form-input {
  font-size: 20px;
} */

input [type="text"] {
  font-size: 20px;
  height: 1rem;
}

input {
  font-size: 20px;
}
