.navbar {
  text-align: center;
  /* background: rgb(244, 229, 198); */
}

.nav-bar-ul {
  display: flex;
  flex-direction: row-reverse;
  margin-right: 10%;
}

.login-text {
  list-style-type: none;
}

.login-text:hover {
  cursor:pointer;
 }