.saved-decks-section {
  text-align: center;
  border-bottom: 1px solid #D3D3D3;
  height: 500px;
  margin-bottom: 100px;
}

.saved-decks-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 500px;
}

.saved-decks-header {
    text-transform: uppercase;
    font-size: 1.5em;
    letter-spacing: 2px;
    font-weight: 300px;
    margin-bottom: 10px;
}

.saved-decks-sub-header {
  margin: 150px auto;
}


/* .savedDeckList {
  list-style: none;
  margin: 20px;
  width: 300px;
  height: 500px;
  display: inline-block;
} */